@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");

.img-input:hover,
.img-input.dragover {
    opacity: 0.5;
}

.animated-gradient-text {
    display: inline-block;
    background-image: linear-gradient(135deg, #79c2ff, #579fdd);
    background-size: auto 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: grad 6s ease-in-out infinite;
}

@keyframes grad {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

.home-projects-button-gradient-text {
    display: inline-block;
    background-image: linear-gradient(135deg, #ff7c20, #ff4093);
    background-size: auto auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects-gradient-text {
    display: inline-block;
    background-image: linear-gradient(135deg, #ff7c20, #ff4093);
    background-size: auto 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resume-gradient-text {
    display: inline-block;
    background-image: linear-gradient(135deg, #03fc88, #0394fc);
    background-size: auto 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.other-work-gradient-text {
    display: inline-block;
    background-image: linear-gradient(135deg, #f52a67, #bf2af5);
    background-size: auto 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
